<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AIConfidence" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="UseGPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdatesOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CrosshairColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="LabelColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="CrosshairSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AskForUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxConcurrentUploads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableCrosshair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FormAccent" serializeAs="String">
                <value>#ba0012</value>
            </setting>
            <setting name="ShowChangelog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangelogContent" serializeAs="String">
                <value />
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UIBatchSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ProcessingBatchSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableParallelProcessing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEnsemble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumConsensus" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConsensusIoUThreshold" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="EnsembleIoUThreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="UseWeightedAverage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentProjects" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelLoadBatchSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastImageDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLabelDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastModelDirectory" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>